@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss" source(none);

@source "./";

@theme {
  --font-quicksand: "Quicksand", sans-serif;
  --animate-wavey: wavey 1000ms linear infinite;

  @keyframes wavey {
    0%,
    100% {
      transform: scaleY(0.5);
    }
    50% {
      transform: scaleY(1.5);
    }
  }
}

@layer base {
  body {
    font-family: var(--font-quicksand);
  }
}

@layer components {
  .menu-item {
    @apply relative flex h-full items-center p-4 cursor-pointer font-bold text-pink-200 hover:text-zinc-200 hover:bg-white/10 transition-colors ease-in-out;
  }

  .acc-item {
    @apply p-4 font-bold hover:bg-white/5 hover:text-zinc-300 transition-colors ease-in-out cursor-pointer text-pink-200;
  }
}

@custom-variant group-open {
  &:is(:where(.group):is(.open, [open], :popover-open, :open) *) {
    @slot;
  }
}

@custom-variant peer-open {
  &:is(:where(.peer):is(.open, [open], :popover-open, :open) ~ *) {
    @slot;
  }
}
